.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  float: left;
}

.App-header {
  color: #000;
  background-color: #FFF;
}

.App-header h1{
  font-size: 80px;
}

.menuType {
/*  position: absolute;*/

  clear: left;
  margin: auto;
}

.header-img {
  width: 100%;
  position: absolute;
  left: 0%;
  z-index: -1;
}



.search-form {
  z-index: 10;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.restaurants {
  z-index: 10;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.ui.card {
  height: 250px;
}

body {
  font-family: 'Gotham A', 'Gotham SSm A', 'Gotham SSm B', 'Proxima Nova', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serifpx;
}

form{
  width:500px;
  margin:0 auto;
}

.search { 
  padding:6px 15px 6px 30px;
  margin:3px; 
}

.rounded { 
  border-radius:15px; 
  -moz-border-radius:15px; 
  -webkit-border-radius:15px; 
}

input[type=text]{
  color:#bcbcbc;
}

input[type=button], input[type=button]:hover {
  position:relative; 
  left:-6px;
  border:1px solid #adc5cf;
  background: #e4f1f9; /* Old browsers */
  background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
  background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
  color:#7da2aa;
  cursor: pointer;
}

.search-form {
  width:95%;
  height:50px;
  padding:40px 25px;
}

.search-form input[type=text]{
  border:1px solid #d0d0d0;
  background-color:#fcfcfc;
}

.menu-items {
  margin-left: auto;
  margin-right: auto;
}